.short-stack-regular {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
}

footer {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: #6e38b2f2;
}
.card-fopter-server {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  display: inline-flex;
  padding: 30px;
}
.ent-footer {
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.section-left-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  text-align: center;
  gap: 30px;
}
.botton-left {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(4, 1fr);
}
.botton-left img {
  width: 3rem;
  border-radius: 50%;
}
.word-serves {
  left: 0px;
  top: 0px;
  position: absolute;
  color: #fbf6f6;
  font-size: 17px;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

@media (max-width: 606px) {
  footer {
    height: 30vh;
  }
  .card-fopter-server {
    display: none;
  }
}
@media (max-width: 575px) {
  .botton-left img {
    width: 2rem;
  }
  .section-left-footer {
    gap: 17px;
  }
  .card-fopter-server {
    font-size: 15px;
    gap: 18px;
    padding: 13px;
  }
}

@media (max-width: 320px) {
  .ent-footer {
    width: 97%;
  }
  .section-left-footer {
    gap: 11px;
  }
  .card-fopter-server {
    font-size: 25px;
    gap: 16px;
    padding: 3px;
    margin-right: 28px;
  }
}
