* {
  box-sizing: border-box;
  font-family: SF Pro;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.scroll {
  background-color: rgb(81, 95, 95);
}
body {
  color: rgb(0, 0, 0);
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.up {
  animation: move 1s infinite ease-in-out;
}
@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.contanthome {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
}
.content-vidio {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}
video {
  height: 100vh;
  left: 0;
  max-height: 100vh;
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}
.paragraph-video {
  color: #fbf6f6;
  font-size: 48px;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 57.6px;
  word-wrap: break-word;
  position: absolute;
  left: 98px;
  right: 98px;
}
.contener-main {
  background-color: #1a1919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
  gap: 10vh;
  padding: 6.25rem 0;
}

.whatsapp-icon img {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  cursor: pointer;
}

.work-home {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4.5rem;
}
.title-work-home,
.title_serves {
  color: #fbf6f6;
  font-size: 49px;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 46.8px;
  word-wrap: break-word;
}
.all-card-work {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 1.2rem;
}
.one-card-work {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
}
.one-card-work img {
  width: 100%;
}
.decription-card-work {
  color: #fbf6f6;
  font-size: 20px;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 24px;
}

.paragraph {
  text-align: center;
  width: 45%;
  color: #fbf6f6;
  font-size: 48px;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 57.6px;
}

.may-server-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.25rem;
  width: 85%;
}
.menu-serves {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.card-lang {
  height: 44px;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 10px;
  outline: 2px #471f7a solid;
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 65px;
}
.icon-daown {
  width: 100%;

  display: flex;
  justify-content: end;
  padding: 4px;
}

.sercle-img {
  animation: rotate-clockwise 10s linear infinite;
  /* transform-style: preserve-3d; */
  backface-visibility: hidden;
}

@keyframes rotate-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Customer-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.card-Customer-testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  width: 85%;
}
.one-card-Customer-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 285px;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 20px;
  outline: 2px #471f7a solid;
  backdrop-filter: blur(25px);
  gap: 1.5rem;
}
#display {
  visibility: hidden;
  display: none;
}

.content-on-daown {
  position: relative;
  bottom: 27px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 10px;
  outline: 1px rgba(255, 255, 255, 0.3) solid;
  position: relative;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid: 1.5rem;
}
.title-content-one {
  left: 64px;
  top: 10px;
  position: relative;
  color: #fbf6f6;
  font-size: 20px;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
.is-lang {
  height: 18rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
}
.lang-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 13.5rem;
  background: rgba(250.91, 245.69, 245.69, 0.1);
  border-radius: 10px;
}
.content-on-daown-active {
  height: 304px;
  opacity: 1;
}

.icon-daown img {
  transition: all 0.2s ease-in-out;
}
.icon-daown img:hover {
  transform: scale(1.1);
  padding: 3px;
  cursor: pointer;
}
.btn-fo-daown {
  width: 90px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: 2px #471f7a solid;
  backdrop-filter: blur(25px);
  justify-content: center;
  align-items: center;
  display: inline-flex;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.btn-fo-daown:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.256);
  outline: 2px #471f7a solid;
  backdrop-filter: blur(25px);
}

/* .all-card .card-hover-color{
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  --clr:#ff0000;
}
.all-card .card-hover-color::before {
  content: '';
  position: absolute;
  background: radial-gradient(var(--clr), transparent , transparent);
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
} */

.all-card {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ent-all-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.8rem;
  justify-content: center;
  align-items: center;
}

.card-hover-color {
  height: 430px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: 2px #471f7a solid;
  backdrop-filter: blur(25px);
  transition: all 0.5s ease-in-out;
}

.menu-btn {
  display: none;
}
.all-card img {
  width: 61%;

  position: absolute;
}
.title-customer-testimonials {
  color: #fbf6f6;
  font-size: 49px;
  font-weight: 400;
  line-height: 57.6px;
}
.description-customer {
  align-self: stretch;
  text-align: center;
  color: #fbf6f6;
  font-size: 20px;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  padding: 10px;
}
.ent-content-customer {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  display: inline-flex;
}
/* .card-hover-color::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-5%, -5%);
  background: radial-gradient(var(--clr), transparent, transparent);
  width: 400px;
  height: 400px;
  pointer-events: none;
} */

/* .all-card .card-hover-color:hover::before {
  opacity: 1;
} */

/* لابتوب صغير */
@media (max-width: 1024px) {
  .all-card {
    grid-template-columns: 1fr;
    height: 519px;
  }
  .whatsapp-icon img {
    width: 90px;
  }
  .content-on-daown-active {
    height: 250px;
    opacity: 1;
  }
  .is-lang {
    height: 14rem;
    padding: 0 2rem;
  }
  .lang-one {
    height: 8.5rem;
  }
  .paragraph {
    margin: 11px 0;
    width: 100%;
    text-align: center;
  }
  .all-card {
    width: 100%;
  }
  .card-Customer-testimonials {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .ent-all-card {
    gap: 0.9rem;
  }
  .card-fopter-server {
    padding: 3rem;
  }
}

/* تابلت*/
@media (max-width: 768px) {
  .all-card {
    grid-template-columns: 1fr;
    height: 519px;
    min-width: 100%;
  }
  .ent-all-card {
    min-width: 100%;
    position: relative;
  }

  #card-one {
    width: 80%;
    position: absolute;
    top: 0;
    left: -100%;
    transform: translateY(-50%);
  }
  #card-two {
    min-width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(11%, -50%);
  }
  #card-there {
    min-width: 80%;
    position: absolute;
    top: 0;
    right: -100%;
    transform: translateY(-50%);
  }

  .whatsapp-icon img {
    width: 74px;
  }

  .all-card-work {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem 1.2rem;
  }
  #display {
    visibility: visible;
    display: grid;
  }
  .card-Customer-testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .paragraph {
    font-size: 33px;
  }
}

@media (max-width: 485px) {
  .whatsapp-icon img {
    /* width: 60px; */
    position: fixed;
    /* bottom: 10px;
    right: 10px; */
  }
  .all-card-work {
    display: grid;
    gap: 5rem 1.2rem;
  }

  .decription-card-work {
    font-size: 16px;
  }

  .content-on-daown-active {
    height: 150px;
    opacity: 1;
  }
  .is-lang {
    height: 8rem;
  }
  .lang-one {
    height: 5.5rem;
  }
  /* .all-card img {
    height: 70vh;
  } */
  .card-hover-color {
    height: 336px;
  }
  #paragraph-tow {
    position: relative;
    top: 9vh;
  }
  .Customer-testimonials {
    position: relative;
    bottom: 9vh;
  }

  /* .title-customer-testimonials {
    font-size: 35px;

  } */
  .one-card-Customer-testimonials {
    height: 208px;
  }
  .description-customer {
    font-size: 13px;
    line-height: 22px;
    padding: 0px;
  }
  .ent-content-customer {
    gap: 13px;
  }
  .card-Customer-testimonials {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px) {
  .whatsapp-icon img {
    /* width: 50px; */
  }

  .decription-card-work {
    font-size: 14px;
  }

  .content-on-daown-active {
    height: 150px;
    opacity: 1;
  }
  .is-lang {
    height: 8rem;
  }
  .lang-one {
    height: 5.5rem;
  }
  .work-home {
    gap: 0.5rem;
  }
  .one-card-work {
    height: 255px;
  }
  .all-card-work {
    display: grid;
    gap: 3rem 1.2rem;
  }
  .title-work-home,
  .title_serves {
    font-size: 37px;
  }
  .is-lang {
    padding: 0 0.5rem;
  }
  .card-lang {
    height: 35px;
    padding: 0 10px;
  }
  /* .all-card img {
    height: 61vh;
  } */
  .card-hover-color {
    height: 265px;
  }
  .card-Customer-testimonials {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .description-customer {
    font-size: 15px;
    line-height: 22px;
    padding: 4px;
  }

  .card-Customer-testimonials {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .Customer-testimonials {
    position: relative;
    bottom: 22vh 112.493px;
  }
  .title-customer-testimonials {
    font-size: 37px;

  }
}

/* الهواتف صغيرة */
@media (max-width: 320px) {
  .paragraph-video {
    font-size: 19px;
    line-height: 1.5;
  }
  .whatsapp-icon img {
    /* width: 43px; */
  }
  .card-Customer-testimonials {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
