{% extends "base.html" %}
{% block content %}
<div>

<div class="background-about" >

</div>

<div class="content-about" >

  <div class="contanet-iam" >
    <img style="   background: rgba(255, 255, 255, 0.10); border-radius: 10px; outline: 2px #471F7A solid; backdrop-filter: blur(25px);" src="{{url_for('static' , filename="/images/aboutIMG.jpg")}}" />
    <div class="word-iam"  >
      Designer, developer, and tech enthusiast—creating 
      exceptional
       web and .Designer, developer,
       and tech enthusiast—creating exceptional web and .Designer, developer, 
       and tech enthusiast—creating exceptional web and .</div>
  </div>

  <div class="contanet-ido" >

    <div class="title-about" >
      What do I offer?
    </div>   

    <div class="description-about" >Designer, developer, and tech enthusiast—creating exceptional
       web and .Designer, developer, and tech
        enthusiast—creating
        exceptional web and .Designer,
        developer, and tech enthusiast—creating exceptional web and .</div>
  </div>

  <div class="contanet-mission" >
    <div class="title-about" >
      What do I offer?
    </div>   

    <div class="description-about" >Designer, developer, and tech enthusiast—creating exceptional
       web and .Designer, developer, and tech
        enthusiast—creating
        exceptional web and .Designer,
        developer, and tech enthusiast—creating exceptional web and .</div>
  </div>

  <div class="contanet-goals" >
    <div class="title-about" >
      What do I offer?
    </div>   

    <div class="description-about">Designer, developer, and tech enthusiast—creating exceptional
       web and .Designer, developer, and tech
        enthusiast—creating
        exceptional web and .Designer,
        developer, and tech enthusiast—creating exceptional web and .</div>
  </div>


</div>

</div>



{% endblock content %}