<footer >
<div class="ent-footer">
  <div class="section-left-footer">

    <div class="top-left">
      <div style="width: 55.37px; height: 44px; padding: 10px; ">
      <div style="color:rgb(243, 243, 243); font-family: Short Stack; ">Nassim_B</div>
      </div>
    </div>

    <div class="botton-left">
      <a href="https://www.facebook.com/Nassim.Immobilier" target="_blank"><img src="{{url_for('static' , filename='/images/facebook.png')}}" alt=""></a>
      <a href="https://www.instagram.com/x_simo__simo_x/" target="_blank"><img src="{{url_for('static' , filename='/images/instagram.png')}}" alt=""></a>
      <a href="https://www.linkedin.com/in/Mohammed-nassim/" target="_blank"><img src="{{url_for('static' , filename='/images/linkedin.png')}}" alt=""></a>
      <a href="mailto:nn1509789@gmail.com" target="_blank"><img src="{{url_for('static' , filename='/images/email.png')}}" alt=""></a>
    </div>
    <hr style="width: 100%; height: 1px; position: relative; left: 0px; top: 0px; background: #FBF6F6; opacity: 0.20;">
    <div style="width: 216.44px; color: #FBF6F6; font-size: 13px; font-family: Space Grotesk; font-weight: 400; line-height: 15.60px; word-wrap: break-word">NFCUINUEONNZCDNNNONJ F </div>
  
  </div>


<div class="section-left-footer">
  <div class="card-fopter-server" >
    <div data-property-1="Default" style=" height: 24px; position: relative">
      <div class="word-serves" ><a href="{{url_for('index')}}"><div class="homewo">Home</div></a></div>
    </div>
    <div data-property-1="Default" style="width: 61px; height: 24px; position: relative">
      <div class="word-serves" >  <a href="{{url_for('about')}}"><div class="Aboutwo">About</div></a></div>
    </div>
    <div data-property-1="Default" style="width: 84px; height: 24px; position: relative">
      <div class="word-serves" ><div class="Serviceswo">Services</div></div>
    </div>
  </div>
 </div>
</div>
</footer>