<div class="header" style="display: flex; justify-content: center;align-items: center;text-align: center;margin: auto;">
<div class="ico_list" >
  <div style=" flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="color:rgb(243, 243, 243); font-size: 20px; font-family: Short Stack; font-weight: 400; word-wrap: break-word">Nassim_B</div>
  </div>
 

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label for="menu-btn">
      <img class="list_icon" src="{{url_for('static' , filename='images/list-pro-icon.png')}}" alt="">
    </label>
  <div class="content_list_grid" >

    <div class="list_grid">
      <div data-property-1="Default" style=" height: 24px; position: relative">
        <a href="{{url_for('index')}}"><div class="homewo">Home</div></a>
      </div>
      <div data-property-1="Default" style=" height: 24px; position: relative">
        <a href="{{url_for('about')}}"><div class="Aboutwo">About</div></a>
      </div>
      <div data-property-1="Default" style=" height: 24px; position: relative">
        <a href="{{url_for('serves')}}"><div class="Serviceswo">Services</div></a>
      </div>
    </div>
  </div>
</div>
</div>



