{% extends "base.html" %}
{% block content %}

<video src="{{url_for('static' , filename='videos/hack.mp4')}}" autoplay loop muted >
  <source type="video" >
</video>

<div class="contanthome">
  <!-- content-vidio -->
<div class="content-vidio">
  <div class="paragraph-video">
    Designer, developer, and tech enthusiast—creating exceptional web and .
  </div>
</div>
<!-- content-vidio -->

  <img class="up" style="position: absolute; top: 85vh;" src="{{url_for('static' , filename='/images/up.png')}}" alt="">

<!-- contener-main -->
<div class="contener-main">


  <!-- work-home -->
  <div class="work-home">

      <div class="title-work-home">
        WORK
      </div>

      <div class="all-card-work">

        <div class="one-card-work">
          <img style="  background: white; border-radius: 10px; outline: 1px #FBF6F6 solid" src="https://placehold.co/537x400" />
          <div class="decription-card-work">Explore a selection of my recent projects. </div>
        </div>

        <div class="one-card-work">
          <img style=" background: white; border-radius: 10px; outline: 1px #FBF6F6 solid" src="https://placehold.co/537x400" />
          <div class="decription-card-work">Explore a selection of my recent projects. </div>
        </div>

        <div class="one-card-work">
          <img style="  background: white; border-radius: 10px; outline: 1px #FBF6F6 solid" src="https://placehold.co/537x400" />
          <div class="decription-card-work">Explore a selection of my recent projects. </div>
        </div>

        <div class="one-card-work">
          <img style="  background: white; border-radius: 10px; outline: 1px #FBF6F6 solid" src="https://placehold.co/537x400" />
          <div class="decription-card-work">Explore a selection of my recent projects. </div>
        </div>
        
  
      </div>
    
  </div>
  <!-- work-home -->

  <!-- paragraph -->
  <div class="paragraph">
    <div >
      <p>All pages share the same header and footer for a consistent experience</p>
    </div>
  </div>
  <!-- paragraph -->

  <!-- may-server-home -->
  <div class="may-server-home">
    <div class="title_serves">My services</div>
    <div class="menu-serves">

      <div class="card-lang">
        <div style=" color: #FBF6F6; font-size: 20px; font-family: Space Grotesk; font-weight: 400; line-height: 24px; ">Languages</div>
        <div class="icon-daown" ><img src="{{url_for('static' , filename='/images/drop.png')}}" alt=""></div>
      </div>

      <div class="content-one">
        <div class="content-on-daown" >
          <div class="title-content-one">
            <p>Languages</p>
          </div>
          <div class="is-lang">
            <div class="lang-one">
              <img src="{{url_for('static' , filename='/images/javaicon.png')}}" alt="">
            </div>

            <div class="lang-one">
              <img src="{{url_for('static' , filename='/images/javaicon.png')}}" alt="">
            </div>

            <div class="lang-one">
              <img src="{{url_for('static' , filename='/images/javaicon.png')}}" alt="">
            </div>
          </div>  
      </div>
    </div>


      <div class="card-lang" >
        <div style=" color: #FBF6F6; font-size: 20px; font-family: Space Grotesk; font-weight: 400; line-height: 24px; ">Languages</div>
        <div class="icon-daown" ><img src="{{url_for('static' , filename='/images/drop.png')}}" alt=""></div>
      </div>

      <div class="content-one">
        <div class="content-on-daown" >
          <div class="title-content-one">
            <p>Languages</p>
          </div>
          <div class="is-lang">
            <div class="lang-one">
              <img src="{{url_for('static' , filename='/images/javaicon.png')}}" alt="">
            </div>

            <div class="lang-one">
              <img src="{{url_for('static' , filename='/images/javaicon.png')}}" alt="">
            </div>

            <div class="lang-one">
              <img src="{{url_for('static' , filename='/images/javaicon.png')}}" alt="">
            </div>
          </div>  
      </div>
    </div>


      <div class="card-lang">
        <div style=" color: #FBF6F6; font-size: 20px; font-family: Space Grotesk; font-weight: 400; line-height: 24px; ">Languages</div>
        <div class="icon-daown" ><img src="{{url_for('static' , filename='/images/drop.png')}}" alt=""></div>
      </div>

      <div class="content-one">
        <div class="content-on-daown" >
          <div class="title-content-one">
            <p>Languages</p>
          </div>
          <div class="is-lang">
            <div class="lang-one">
              <img src="{{url_for('static' , filename='/images/javaicon.png')}}" alt="">
            </div>

            <div class="lang-one">
              <img src="{{url_for('static' , filename='/images/javaicon.png')}}" alt="">
            </div>

            <div class="lang-one">
              <img src="{{url_for('static' , filename='/images/javaicon.png')}}" alt="">
            </div>
          </div>  
      </div>



    


        

      

    

    </div>
    

    <div class="btn-fo-daown">
      <div style="color: #FBF6F6; font-size: 20px; font-family: Space Grotesk; font-weight: 400; line-height: 24px; word-wrap: break-word">Button</div>
    </div>

  </div>
  <!-- may-server-home -->

  <!-- paragraph -->
   <div class="paragraph" id="paragraph-tow">
    <div  >All pages share the same header and footer for a consistent experience</div>
   </div>
  <!-- paragraph -->

  <!-- display-img-home -->
  <div class="all-card" style=" height: 600px; position: relative">
    <img class="sercle-img"  src="{{url_for('static' , filename='/images/abstractg.png')}}" />
    
    <div class="ent-all-card">
      <div id="card-one" class="card-hover-color" style=" --clr:#ff0000;"></div>
      <div id="card-two" class="card-hover-color" style="  --clr:rgb(20, 253, 175);"></div>
      <div id="card-there" class="card-hover-color" style="  --clr:rgb(20, 20, 253);"></div>
    </div>

  </div>
  <!-- display-img-home -->

  <!-- Customer-testimonials -->
  <div class="Customer-testimonials">
    <div class="title-customer-testimonials">
      <div >Customer testimonial</div>
    </div>

    <div class="card-Customer-testimonials">
      <div class="one-card-Customer-testimonials" >
        <div class="ent-content-customer" >
          <img style="width: 60px; height: 60px; background: rgba(255, 255, 255, 0.10); border-radius: 9999px; outline: 2px #471F7A solid; backdrop-filter: blur(25px)" src="https://placehold.co/60x60" />
          <div class="description-customer">All pages share the same header and footer for a consistent experience</div>
          <div style="  align-items: center; display: inline-flex"><img src="{{url_for('static', filename='/images/starticon.png')}}" alt=""></div>
        </div>
      </div>

      <div class="one-card-Customer-testimonials" >
        <div class="ent-content-customer" >
          <img style="width: 60px; height: 60px; background: rgba(255, 255, 255, 0.10); border-radius: 9999px; outline: 2px #471F7A solid; backdrop-filter: blur(25px)" src="https://placehold.co/60x60" />
          <div class="description-customer">All pages share the same header and footer for a consistent experience</div>
          <div style="  align-items: center; display: inline-flex"><img src="{{url_for('static', filename='/images/starticon.png')}}" alt=""></div>
        </div>
      </div>

      <div class="one-card-Customer-testimonials" >
        <div class="ent-content-customer" >
          <img style="width: 60px; height: 60px; background: rgba(255, 255, 255, 0.10); border-radius: 9999px; outline: 2px #471F7A solid; backdrop-filter: blur(25px)" src="https://placehold.co/60x60" />
          <div class="description-customer">All pages share the same header and footer for a consistent experience</div>
          <div style="  align-items: center; display: inline-flex"><img src="{{url_for('static', filename='/images/starticon.png')}}" alt=""></div>
        </div>
      </div>

      <div  class="one-card-Customer-testimonials" id="display">
        <div class="ent-content-customer">
          <img style="width: 60px; height: 60px; background: rgba(255, 255, 255, 0.10); border-radius: 9999px; outline: 2px #471F7A solid; backdrop-filter: blur(25px)" src="https://placehold.co/60x60" />
          <div class="description-customer">All pages share the same header and footer for a consistent experience</div>
          <div style="  align-items: center; display: inline-flex"><img src="{{url_for('static', filename='/images/starticon.png')}}" alt=""></div>
        </div>
      </div>


      
    </div>
  </div>
  <!-- Customer-testimonials -->
</div>
<!-- contener-main -->

</div>


{% endblock %}