{% extends "base.html" %}
{% block content %}
<div class="content_servers">

<div class="background-about" >

</div>

<div class="content_serves_main">

  <div id="Xl" class="title" style="color: #FBF6F6; font-size: 39px; font-family: Space Grotesk; font-weight: 400; line-height: 46.80px; word-wrap: break-word">Designer, developer, and tech</div>

<div class="prograses">
  {% for prograse in prograses %}
  <div class="prog_text">
    <div class="num">
    <p id="Xl">{{prograse.p1}}</p>
    </div>
    <div class="prog_p">
      <p class="dis_prog">{{prograse.p2}}</p>
    </div>
  </div>
  {% endfor %}
  
</div>

<div class="scils_ser" style="color: white;">
   <div class="section">
    <div class="name"><p id="Xl">Dessing</p></div>
    <div class="mains1">


    </div>
    <div class="name"><p id="Xl">Front End</p></div>
    <div class="mains2">


    </div>
    <div class="name"><p id="Xl">Back End</p></div>
    <div class="mains3">


    </div>
    <div class="name"><p id="Xl">Data Base</p></div>
    <div class="mains4">


    </div>
    <div class="name"><p id="Xl">Tools & DevOps</p></div>
    <div class="mains5">
      <p>Git</p>
      <p>GitHub</p>
      <p>Docker</p>
      <p>Postman</p>
      <p>EsLintvite</p>
      </div>
   </div>
   

</div>
</div>

</div>

{% endblock content %}

